# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr
*.local

# Environment & Secrets
.env
.env.production
.env.development
service-account.json
*-sa-key.json
# ... other secrets should be listed specifically
firebase-debug.log*
.firebase/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# App specific
uploads/
*.log
*-log.txt
test-output.txt
temp/
